@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

/* FUNNY STUFF */
html {
    scroll-behavior: smooth;
}

.clearfix {
    overflow: auto;
}

/*GENERAL*/
body {
    background-color: #1b1b1b;
    margin: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri;
    font-weight: 500;
    color:#F1FFFA;
    
}

h2 {
    font-size: 40px;
    font-weight: 500;
    color: #F1FFFA;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    font-weight: 700;
    color:#0088a9;
}

a:link {
    transition: all 0.3s ease 0s;
    font-size:40px;
    color: #0088a9;
}
.a:visited {
    color:#3000a9;
}
a:hover {
    color:#8d00a9;
    font-size:43px;
}

/*NAVIGATION BAR*/
nav {
    background-color: #242424;

    position:fixed;
    width:100%;
    align-items: center;
    
}
.nav-links{
    padding-left:5px;
}
.nav-links li {
    display: inline-block;
    padding: 0px 20px;

}
.nav-links li a {
    transition: all 0.3s ease 0s;
    border-left: 2px solid #F1FFFA;
    padding: 5px 10px;
    cursor: pointer;

    color:#F1FFFA;
    font-weight:500;
    font-size: 30px;
    text-decoration: none;

    
}
.nav-links li a:hover {
    color: #0088a9;
    border-color: #0088a9;
    font-size:33px;
}


/*INTRODUCTION*/

.introduction {
    background: url("https://raw.githubusercontent.com/hepromark/Hepromark.github.io/main/images/pink.jpg");
    background-size:cover;
    width:100%;
    height:800px;

    padding-bottom: 50px;
    padding-top: 100px;

    text-align: center;
}

#first-line {
    font-size:125px; 
    font-weight: bold;
    margin-bottom:0px;
}

.blurb {
    font-size: 40px;
    color:#F1FFFA;
    padding-bottom: 10px;
    border-bottom: 2px solid #F1FFFA;
    margin-left: 25%;
    margin-right: 25%;

}

.introduction h2 {
    margin-top:50px
}
/*PROJECTS*/

.project-section {
    margin:50px;
    margin-bottom: 150px;
}

.project-section h1 {
    display:inline-block;
    margin-top: 50px;
    border-bottom: 0.1em solid #F1FFFA;
    padding-bottom: 15px;
    width:60%; 
    
    font-size:80px;
}


.project-section h3 {
    text-align:right;
    display:inline-block;
    margin-top: 60px;
    padding-left: 80px;
    width: 30%;
}

/*PROJECT ENTRIES*/

.project-instance {
    
    margin-bottom:30px;
    padding-left:5%;
    padding-right:5%;
    clear: both;
    overflow: auto;
    
}

.project-instance h2 {
    margin-bottom: 1em;
    width:15em;
    text-align: left;
}

.project-img {
    float: left;
    width: 50%;
    border-radius:10px;

}

.project-instance p {
    float: right;
    font-size: 25px;
    width:40%;
}

/*EVIDENCE*/
.evidence {
    /* border-top: 0.2em solid white;
    padding-top: 2.5em;
    width:50% */
    text-align: right;
}

/*END CARD*/
#end-card {
    clear:both;
    background-color: white;
    background: url("https://raw.githubusercontent.com/hepromark/Hepromark.github.io/main/images/mountain.jpg");
    background-size: cover;

    padding-top: 10px;
    padding-bottom: 150px;
}

#end-card h2 {
    color: black; 
    font-size: 80px;
}

#end-card h3 {
    color: black; 
}

.end-card-contents {
    display: inline-block;
    /* float:left; */
    text-align: right;
    padding-right: 50px;
    padding-left: 8%;
    max-width: 40%;
    border-right: 5px solid rgb(123, 167, 169);
}

.end-card-links {
    display: inline-block;
    /* float: right; */
    line-height: 20px;
}

.icon-links {
    width: 60px;
}

.end-card-links a:hover {
    width: 70px;
}